---

---
<!-- HEADER -->      
<header id='header' itemscope='itemscope' itemtype='https://schema.org/WPHeader'>
  <div class='header-container'>
    <div class='logo'>
      <a href='/'>
        <img alt='شعار الموقع' src='/assets/static/favicon.png'/>
      </a>
    </div>
    
    <div class='search-container'>
      <form class='search-box-form' onsubmit='startSearch(); return false;'>
        <input autocomplete='off' class='search-box-input' id='searchInput' placeholder='ابحث عن منتج...' type='text'/> 
        <button class='search-box-button' type='submit'>
          بحث
          <svg class='icon'><use href='/assets/static/icons.svg#i-search'/></svg>
        </button>
      </form>
      <div class='search-history-dropdown' id='searchHistoryDropdown'></div>
    </div>

    <div class='header-actions'>
      <div class='custom-dropdown' id='countryDropdown'>
        <div class='selected'>
          <img alt='السعودية' height='16' src='/assets/flags/sa.png' width='16'/> السعودية
        </div>
        <ul class='options'>
          <li data-value='SA'><img alt='السعودية' height='16' src='/assets/flags/sa.png' width='16'/> السعودية</li>
          <li data-value='AE'><img alt='الإمارات' height='16' src='/assets/flags/ae.png' width='16'/> الإمارات</li>
          <li data-value='OM'><img alt='عُمان' height='16' src='/assets/flags/om.png' width='16'/> عُمان</li>
          <li data-value='MA'><img alt='المغرب' height='16' src='/assets/flags/ma.png' width='16'/> المغرب</li>
          <li data-value='DZ'><img alt='الجزائر' height='16' src='/assets/flags/dz.png' width='16'/> الجزائر</li>
          <li data-value='TN'><img alt='تونس' height='16' src='/assets/flags/tn.png' width='16'/> تونس</li>
        </ul>
      </div>

      <div class='dark-mode-toggle'>
        <button aria-label='تبديل الوضع الليلي' id='dark-toggler'>
          <svg class='icon'>
            <use class='icon-moon' href='/assets/static/icons.svg#i-moon'/>
            <use class='icon-sun' href='/assets/static/icons.svg#i-sun'/>
          </svg>
        </button>
      </div>
      
      <div class='cart-widget' id='cart-widget-header'>
        <span class='cart-icon'>
          <svg class='icon'><use href='/assets/static/icons.svg#i-cart'/></svg>
        </span>
        <span id='cart-count'>0</span>
      </div>
    </div>
  </div>
</header>

<!-- Nav Bar -->  
<nav id='widget-topbar'>
  <button id='widget-toggle-btn'>&#9776;</button>
  <div id='widget-desktop-cats'></div>
</nav>

<!-- Sidebar -->
<div id='widget-sidebar'>
  <div id='widget-header-bar'>
    <span id='widget-sidebar-title'>التصنيفات</span>
    <button id='widget-close-btn'>&#10006;</button>
  </div>
  <div id='widget-side-list'></div>
</div>
<div id='widget-overlay'></div>