---
permalink: /robots.txt
---
User-agent: *

Allow: /

# Allow iWatch Parameters
Allow: /*?v=*

# Store & Parameters Disallows
Disallow: /*?*
Disallow: /*&*

# General Disallows
Disallow: /page/info/
Disallow: /page/cart/
Disallow: /page/404/
Disallow: /page/store/
Disallow: /page/test/
Disallow: /package.json
Disallow: /.eleventy.js
Disallow: /_includes/
Disallow: /src/
Disallow: /*.bin

# C# / .NET Disallows
Disallow: /bin/
Disallow: /obj/
Disallow: /.vs/
Disallow: /Properties/
Disallow: /*.csproj
Disallow: /*.sln
Disallow: /*.config
Disallow: /appsettings.json
Disallow: /appsettings.*.json

Sitemap: https://{{ activeCountry | lower }}.iseekprice.com/sitemap.xml
